doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery.js') 
    script(src='D3/d3.js')
    script(src='barCode.js')
  body
    h1 IS217 Data Visualization
    #container
    #info
     p Hello
    br
    br
    #footer
     p By Joshua Ortega and Bindya Rana
