doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery.js') 
    script(src='D3/d3.js')
    script(src='barCode.js')
  body
    h1 IS217 Data Visualization
    #chart
    #info
     p Using 2013 Facebook data we come up with bar chart.Where it's display all countries who have highest Percent of requests in descending order.
    br
    br
    #footer
     p By Joshua Ortega and Bindya Rana
