doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery.js') 
    script(src='D3/d3.js')
    script(src='topojson/topojson.js')
    script(src='datamap.js')
    script(src='myCode.js')
  body
    #dSample
     p Amazing!
    #dSample2
    #container
