doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery.js') 
    script(src='D3/d3.js')
    script(src='topojson/topojson.js')
    script(src='datamap.js')
    script(src='myCode.js')
  body
    h1 IS217 Data Visualization
    #container
    #info
     p In 2013, Facebook published a report stating details on which governments requested information about its users.  The report included how many requests were made, how many user accounts were requested, and what percent of data Facebook relinquished to the government due to legal obligations.
     br
     a(href='http://localhost:3000/bar') Bar Graph
    br
    br
    #footer
     p By Joshua Ortega and Bindya Rana
