doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery.js')
    script(src='myCode.js')
  body
    block content
    #dSample
     p Amazing!
    #dSample2
